html { scroll-behavior: smooth;
height:100%;
width:100%; }

body {
	font-family: "Montserrat", sans-serif;
	font-weight: lighter;
    line-height: 1.8;
    color: grey;
    height:100%;
    width:100%;
    letter-spacing: 0.2em;
    background-color: white;
}

section::before {
  display: block;
  content: " ";
  margin-top: -4em;
  height: 4em;
  visibility: hidden;
}

#content {
  
  text-align: center;
}

h1 {
  font-family: open sans,sans-serif;
  font-weight: bold;
  color: #3a4145;
}

p {
  font-family: merriweather,serif;
  font-weight: bold;
  color: #aaa;
}

/* HEADER */

.personal-image {
    height: 15em;
    width: auto;
    border: 5px solid white; 
    border-radius: 1000px;
    margin-top: 2em;
    margin-bottom: 1em;
}

header {
  padding-top: 52px;
  padding-bottom: 52px;
  background-color: #f5f8fa;
  width: 100%;
  border-bottom: 1px solid #bfbfbf;
}

header h1 {
  font-family: open sans,sans-serif;
  font-weight: bold;
  color: #3a4145;
  animation-name: moveFromLeft;
  animation-duration: 2s;
}

header p {
  font-family: merriweather,serif;
  font-weight: bold;
  color: #aaa;
  animation-name: moveFromRight;
  animation-duration: 2s;
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* */

/* NAVBAR */

#navbar {
  transition: all .4s ease;
  background-color: #d6d6d680;
}

.navBackground {
  background-color: #222222 !important;
}

#navbar .navbar-brand {
  font-family: open sans,sans-serif;
  color: #3a4145;
  font-weight: bold;
  font-size:1em;
  margin-left: 2em;
}

nav div #right-links li a{
  color: #3a4145;
  font-weight: bold;
  font-size:0.9em;
  margin-right: 1em;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

nav div #right-links li a:hover{
  color: #3a4145;
  font-weight: bold;
  font-size:0.9em;
  letter-spacing: 0.3em;
}
/* */

/* About me */

  #about-me {
    padding-top:2em;
    text-align: left;
  }

  #about-me h1 {
    font-size:1.5em;
    margin-bottom: 1em;
  }

  #about-me p {
    color: #6b6b6b;
    font-weight: normal;
    letter-spacing: 0;
  }

/* */

/* Projects */

  #projects {
    padding-top:2em;
    text-align: left;
  }

  #projects h1 {
    font-size:1.5em;
    margin-bottom: 1em;
  }

  #projects p {
    color: #6b6b6b;
    font-weight: normal;
    letter-spacing: 0;
  }

  #projects .col-md-4 {
    margin-bottom: 1em;
  }

  .project-img {
    height: 30em;
    width: auto;
  }

/* */

/* Contact */

#contact {
  padding-top:2em;
  padding-bottom:2em;
  text-align: left;
}

#contact h1 {
  font-size:1.5em;
  margin-bottom: 1em;
}

#contact p {
  color: #6b6b6b;
  font-weight: normal;
  letter-spacing: 0;
}

#contact .form-control {
  margin-bottom: 0.5em;
}


/* */


